.App {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 100px;
	margin: 30px;
}

.Request {
	display: flex;
	flex-direction: column;
}

.RequestList {
	list-style-type: none;
	padding-left: 0px;
}

.Order {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 10px;
}

.Button {
	margin-top: 10px;
	width: 80px;
	display: flex;
	justify-content: center;
}

.LoginButton {
	margin-top: 10px;
	width: 160px;
}

.Input {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 10px;
}
